@import '../variables/fonts';
@import '../functions/rem-calc';
@import '../mixins/typography';

:root {
  font-family: $font-primary;
  @include typography('text-md', 'regular');
}

body {
  width: 100vw;
  height: 100vh;
  background: #0af;
  // overflow: hidden;
  // padding: 0;
  // margin: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // -webkit-user-select: none; /* Safari */
  // -moz-user-select: none; /* Firefox */
  // -ms-user-select: none; /* IE10+/Edge */
  // user-select: none; /* Standard */
}
